@import "../../Scss/Index.scss";
.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 24px rgba(0, 0, 0, 0.08);
  background: white;
  padding: 40px;
  box-sizing: border-box;
  margin: auto;
  ul {
    width: 100%;
    display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .item_product {
      text-decoration: none;
      color: $text_color_dark;
      li {
        background-color: $background;
        color: $text_color_dark;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0px 3px 7px 0px #cfcfcf;
        padding: 1rem;
        align-items: center;
        transition: 0.3s ease-in-out all;
        .info_price {
          text-decoration: none;
        }
        .base_price{
          padding: 5px 20px;
          display: flex;
          column-gap: 10px;
          .Addcarticon{
            font-size: 20px;
          }
        }
        &:hover{
          box-shadow: 0px 3px 7px 0px #888888;
        }
        &:hover .base_price{
          box-shadow: 1px 1px 10px 0px rgba(35, 80, 245, 0.75);
          -webkit-box-shadow: 1px 1px 10px 0px rgba(35, 80, 245, 0.75);
          -moz-box-shadow: 1px 1px 10px 0px rgba(35, 80, 245, 0.75);
        }
      }
    }
  }
  h3 {
    margin: 0px;
  }
  span {
    font-size: 1rem;
    opacity: 0.9;
  }
  img {
    width: 100%;
    aspect-ratio: 2/1;
    display: block;
    object-fit: cover;
    background-color: #fff;
  }
}

@media (max-width: $responsive) {
  .products ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $responsive_small) {
  .products ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
