$main_color: #2350f5;
$transparent_color: #2350f529;
$text_color_dark: #4f4a45;
$text_color_light: white;
$max-width: 1200px;
$border-radius: 10px;
$responsive: 850px;
$responsive_small: 500px;
$responsive_checkout: 1000px;
$background: white;
$background_page: #f1f1f1;
